@media (max-width: 991px) {
  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes slideRight {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}

.ion-toolbar-color {
  --background: #003049;
  --color: white;
}

.ion-back-button {
  --color: white;
}

.ion-tab-bar-styles {
  --background: #001d3d;
  --color: white;
  --color-selected: white;
  --opacity: 0.6;
}

ion-tab-button > ion-icon {
  opacity: 0.5;
  font-size: 24px;
}

.tab-selected > ion-icon {
  opacity: 1;
  font-size: 26px;
}

/* .tab-has-label.tab-selected {
  font-size: 14px;
} */

ion-toolbar > ion-buttons > ion-button {
  --color: white;
}
